<div class="container-lg overflow-hidden">
  <section class="guess row py-11 py-sm-29">
    <h2 class="mb-3">猜你也喜歡...</h2>
    <ul class="list-unstyled mb-0 fs-7 d-sm-flex ps-sm-38">
      <li class="mb-7 mb-sm-0">
        <div class="guess-img guess-img1 mb-3 mb-sm-1 me-sm-14"></div>        
        <p class="fw-bold mb-1">No.22 線上設計展</p>
        <p>$350</p>
      </li>
      <li class="mb-7 mb-sm-0">
        <div class="guess-img guess-img2 mb-3 mb-sm-1 me-sm-14"></div>        
        <p class="fw-bold mb-1">No.22 線上設計展</p>
        <p>$350</p>
      </li>
      <li>
        <div class="guess-img guess-img3 mb-3 mb-sm-1 me-sm-14"></div>        
        <p class="fw-bold mb-1">No.22 線上設計展</p>
        <p>$350</p>
      </li>
    </ul>
  </section>
</div>

<footer class="footer">
  <div class="footerBg d-flex align-items-end">
    <section class="container-lg mb-7 mb-sm-13">
      <h2 class="text-white mb-10 mb-sm-5">
        想收到最新消息嗎？ 
        <br>快訂閱我們！
      </h2>
      <form class="form d-flex mb-17" action="">
        <input class="form__control border-white border-1 fs-8 ps-4 py-4" type="text" id="mail" placeholder="輸入您的電子信箱">
        <button class="btn btn-primary border-primary fs-8 px-19 px-sm-25 py-5" type="submit">訂閱</button>
      </form>
    </section>
  </div>
  <section class="container-lg d-sm-flex justify-content-sm-between py-7">
    <ul class="list-unstyled d-sm-flex">
      <li class="me-sm-7">EXHIBINECTION</li>
      <li>© 2020. All Rights Reserved.</li>
    </ul>
    <ul class="list-unstyled d-none d-sm-flex">
      <li>
        <a class="sign text-decoration-none text-muted me-sm-11" href="">Sign in</a>
      </li>
      <li>
        <a class="sign text-decoration-none text-muted" href="">Sign up</a>
      </li>
    </ul>
  </section>
</footer>


