<section class="navBg">
  <div class="container-lg pt-46 px-sm-38 py-sm-42">
    <h2 class="text-white mb-3">台北當代藝術展</h2>
    <p class="text-white fs-8 fw-bold mb-7">01 JUN — 31 OCT</p> 
    <div>
      <button type="button" class="buy btn btn-primary border-primary text-white me-2 px-24 py-4">購買票券</button>
      <button type="button" class="detailed btn border-white text-white px-24 py-4">詳細資訊</button>
    </div>
  </div>
</section>