.design-img {
  background-position: center;
  background-size: cover;
  max-width: 100%;
}
.design-img1 {
  background-image: url("../images/alina-grubnyak-1.jpg");
}
.design-img2 {
  background-image: url("../images/alina-grubnyak-2.jpg");
}
.design-img3 {
  background-image: url("../images/alina-grubnyak-3.jpg");
}
